<div data-role="view"
     id="openexp"
     data-layout="main"
     class="openexp-scrn"
     data-model="pt.Openexp.viewModel"
     data-bind="events:{init:init, show:show}">
    <header id="appPages">
        <div class="pageLogo">
            <img src="../styles/images/doc-lib-logo-2.jpg">
        </div>
        <div class="pageTitle">
            Open Expenses
        </div>
        <div class="pageLogOut">
             <a class="nav-button" data-align="right" data-role="button" data-bind="events: { click: signout }">Logout</a>
        </div>
     </header>
    
    <div class="subheader">
        <div class="subheaderIconSmall">
            <img src="../styles/images/expense-icon.png">
        </div>
        <div class="subheaderText">
            Current Expense Report:<br/>
            <span>
                {{ text }}
            </span>
        </div>
        <div class="subheaderIcon">
           <img src="../styles/images/delete-icon.png">
        </div>
        <div class="subheaderFwd" data-bind="events: { click: loadProjGarage }">
           <img src="../styles/images/forward-icon.png">
        </div>
    </div>
    <ul id="listLinksFull">
        <li class="li1"><a data-bind="events: { click: signout }">{{field-one}}</a></li>
        <li class="li2"><a data-bind="events: { click: signout }">{{field-two}}</a></li> 
        <li class="li3"><a data-bind="events: { click: signout }">{{field-three}}</a></li>
    </ul>
    <div data-role="footer" id="footer">
        <ul id="bottomNav">
            <li>
                <img class="bottomNavImg" src="../styles/images/mail.png">
            </li>
            <li>
                <img class="bottomNavImg" src="../styles/images/camera.png" data-bind="click: addImage">
            </li>
            <li>
                <img class="bottomNavImg" src="../styles/images/home.png">
            </li>
            <li>
                <img class="bottomNavImg" src="../styles/images/gear.png">
            </li>       
        </ul>
     </div>
</div>